# CONFIG_ARM_PATCH_PHYS_VIRT is not set
CONFIG_EXPERIMENTAL=n
CONFIG_LOCALVERSION="-Ripee_KangCoreKernel"
CONFIG_KERNEL_XZ=n
CONFIG_AUDIT=n
CONFIG_RCU_FAST_NO_HZ=n
CONFIG_RCU_BOOST=n
CONFIG_IKCONFIG=n
CONFIG_LOG_BUF_SHIFT=18
CONFIG_CGROUPS=n
CONFIG_CGROUP_FREEZER=n
CONFIG_CGROUP_CPUACCT=n
CONFIG_RESOURCE_COUNTERS=n
CONFIG_CGROUP_SCHED=n
CONFIG_RT_GROUP_SCHED=n
CONFIG_NAMESPACES=n
# CONFIG_UTS_NS is not set
# CONFIG_USER_NS is not set
# CONFIG_PID_NS is not set
CONFIG_NET_NS=n
CONFIG_BLK_DEV_INITRD=n
CONFIG_RD_LZMA=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=n
CONFIG_PANIC_TIMEOUT=5
CONFIG_ASHMEM=n
CONFIG_EMBEDDED=n
CONFIG_PROFILING=n
CONFIG_OPROFILE=n
CONFIG_JUMP_LABEL=n
CONFIG_PARTITION_ADVANCED=n
CONFIG_EFI_PARTITION=n
# CONFIG_IOSCHED_TEST is not set
# CONFIG_IOSCHED_DEADLINE is not set
CONFIG_IOSCHED_BFQ=n
CONFIG_CGROUP_BFQIO=n
CONFIG_IOSCHED_FIOPS=n
CONFIG_DEFAULT_NOOP=n
CONFIG_ARCH_MSM=n
CONFIG_ARCH_MSM8960=n
CONFIG_ARCH_APQ8064=n
CONFIG_MSM_KRAIT_TBB_ABORT_HANDLER=n
CONFIG_MACH_JF=n
CONFIG_MACH_JF_EUR=n
# CONFIG_MSM_STACKED_MEMORY is not set
CONFIG_KERNEL_MSM_CONTIG_MEM_REGION=n
# CONFIG_MSM_FIQ_SUPPORT is not set
# CONFIG_MSM_PROC_COMM is not set
CONFIG_MSM_SMD=n
CONFIG_MSM_SMD_PKG4=n
CONFIG_MSM_BAM_DMUX=n
CONFIG_MSM_IPC_LOGGING=n
CONFIG_MSM_IPC_ROUTER=n
CONFIG_MSM_IPC_ROUTER_SMD_XPRT=n
CONFIG_MSM_IPC_ROUTER_SECURITY=n
CONFIG_MSM_AVS_HW=n
# CONFIG_MSM_HW3D is not set
CONFIG_WIFI_CONTROL_FUNC=n
CONFIG_MSM_SUBSYSTEM_RESTART=n
CONFIG_MSM_SYSMON_COMM=n
CONFIG_MSM_PIL_QDSP6V4=n
CONFIG_MSM_PIL_TZAPPS=n
CONFIG_MSM_PIL_VIDC=n
CONFIG_MSM_MODEM_8960=n
CONFIG_MSM_LPASS_8960=n
CONFIG_MSM_HSIC_GPIO_REV06=n
CONFIG_MSM_EVENT_TIMER=n
CONFIG_MSM_BUS_SCALING=n
CONFIG_MSM_BUS_RPM_MULTI_TIER_ENABLED=n
CONFIG_MSM_WATCHDOG=n
CONFIG_MSM_DLOAD_MODE=n
CONFIG_BT_BCM4335=n
CONFIG_MSM_RTB=n
CONFIG_MSM_EBI_ERP=n
CONFIG_MSM_CACHE_ERP=n
CONFIG_MSM_L1_ERR_PANIC=n
CONFIG_MSM_L1_ERR_LOG=n
CONFIG_MSM_L2_ERP_2BIT_PANIC=n
CONFIG_MSM_HSIC_SYSMON=n
CONFIG_SEC_THERMISTOR=n
CONFIG_HAS_MACH_MEMUTILS=n
CONFIG_STRICT_MEMORY_RWX=n

CONFIG_NO_HZ=n
# CONFIG_HZ_100 is not set
# CONFIG_HZ_250 is not set
CONFIG_HZ_300=n
# CONFIG_HZ_1000 is not set
CONFIG_HZ=300

CONFIG_HIGH_RES_TIMERS=n
CONFIG_SMP=n
# CONFIG_SMP_ON_UP is not set
CONFIG_SCHED_MC=n
CONFIG_PREEMPT=n
CONFIG_QUOTA=n
CONFIG_AEABI=n
CONFIG_HIGHMEM=n
CONFIG_VMALLOC_RESERVE=0x19000000
CONFIG_COMPACTION=n
CONFIG_SECCOMP=n
CONFIG_CC_STACKPROTECTOR=n
CONFIG_CPU_FREQ=n
CONFIG_SCHED_FREQ_INPUT=n

CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_CPU_FREQ_GOV_INTERACTIVE=n
CONFIG_CPU_FREQ_GOV_ONDEMAND=n
CONFIG_CPU_FREQ_GOV_PERFORMANCE=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n

CONFIG_CPU_IDLE=n
CONFIG_VFP=n
CONFIG_NEON=n
CONFIG_KERNEL_MODE_NEON=n
# CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS is not set
CONFIG_WAKELOCK=n
CONFIG_PM_RUNTIME=n
CONFIG_NET=n
CONFIG_PACKET=n
CONFIG_UNIX=n
CONFIG_XFRM_USER=n
CONFIG_NET_KEY=n
CONFIG_INET=n
CONFIG_IP_MULTICAST=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_IP_MULTIPLE_TABLES=n
CONFIG_IP_ROUTE_VERBOSE=n
CONFIG_IP_PNP=n
CONFIG_IP_PNP_DHCP=n
CONFIG_INET_AH=n
CONFIG_INET_ESP=n
CONFIG_INET_IPCOMP=n
# CONFIG_INET_LRO is not set

CONFIG_TCP_CONG_ADVANCED=n
CONFIG_TCP_CONG_CUBIC=n
CONFIG_TCP_CONG_BIC=n
CONFIG_TCP_CONG_HTCP=n
CONFIG_TCP_CONG_WESTWOOD=n
CONFIG_TCP_CONG_VEGAS=n
CONFIG_TCP_CONG_SCALABLE=n
CONFIG_TCP_CONG_LP=n
CONFIG_TCP_CONG_VENO=n
CONFIG_TCP_CONG_YEAH=n
CONFIG_TCP_CONG_ILLINOIS=n
CONFIG_DEFAULT_WESTWOOD=n
CONFIG_DEFAULT_TCP_CONG="westwood"

CONFIG_IPV6_PRIVACY=n
CONFIG_IPV6_ROUTER_PREF=n
CONFIG_IPV6_ROUTE_INFO=n
CONFIG_IPV6_OPTIMISTIC_DAD=n
CONFIG_INET6_AH=n
CONFIG_INET6_ESP=n
CONFIG_INET6_IPCOMP=n
CONFIG_IPV6_MIP6=n
CONFIG_IPV6_MULTIPLE_TABLES=n
CONFIG_IPV6_SUBTREES=n
CONFIG_NETFILTER=n
CONFIG_NETFILTER_NETLINK_LOG=n
CONFIG_NF_CONNTRACK=n
CONFIG_NF_CONNTRACK_SECMARK=n
CONFIG_NF_CONNTRACK_EVENTS=n
CONFIG_NF_CT_PROTO_UDPLITE=n
CONFIG_NF_CONNTRACK_FTP=n
CONFIG_NF_CONNTRACK_H323=n
CONFIG_NF_CONNTRACK_IRC=n
CONFIG_NF_CONNTRACK_NETBIOS_NS=n
CONFIG_NF_CONNTRACK_PPTP=n
CONFIG_NF_CONNTRACK_TFTP=n
CONFIG_NF_CT_NETLINK=n
CONFIG_NETFILTER_TPROXY=n
CONFIG_NETFILTER_XT_TARGET_CLASSIFY=n
CONFIG_NETFILTER_XT_TARGET_CONNMARK=n
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
CONFIG_NETFILTER_XT_TARGET_IDLETIMER=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_NETFILTER_XT_TARGET_MARK=n
CONFIG_NETFILTER_XT_TARGET_NFQUEUE=n
CONFIG_NETFILTER_XT_TARGET_NOTRACK=n
CONFIG_NETFILTER_XT_TARGET_TEE=n
CONFIG_NETFILTER_XT_TARGET_SECMARK=n
CONFIG_NETFILTER_XT_TARGET_TCPMSS=n
CONFIG_NETFILTER_XT_MATCH_COMMENT=n
CONFIG_NETFILTER_XT_MATCH_CONNLIMIT=n
CONFIG_NETFILTER_XT_MATCH_CONNMARK=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_NETFILTER_XT_MATCH_HASHLIMIT=n
CONFIG_NETFILTER_XT_MATCH_HELPER=n
CONFIG_NETFILTER_XT_MATCH_IPRANGE=n
CONFIG_NETFILTER_XT_MATCH_LENGTH=n
CONFIG_NETFILTER_XT_MATCH_LIMIT=n
CONFIG_NETFILTER_XT_MATCH_MAC=n
CONFIG_NETFILTER_XT_MATCH_MARK=n
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=n
CONFIG_NETFILTER_XT_MATCH_POLICY=n
CONFIG_NETFILTER_XT_MATCH_PKTTYPE=n
CONFIG_NETFILTER_XT_MATCH_QTAGUID=n
CONFIG_NETFILTER_XT_MATCH_QUOTA=n
CONFIG_NETFILTER_XT_MATCH_QUOTA2=n
CONFIG_NETFILTER_XT_MATCH_QUOTA2_LOG=n
CONFIG_NETFILTER_XT_MATCH_SOCKET=n
CONFIG_NETFILTER_XT_MATCH_STATE=n
CONFIG_NETFILTER_XT_MATCH_STATISTIC=n
CONFIG_NETFILTER_XT_MATCH_STRING=n
CONFIG_NETFILTER_XT_MATCH_TIME=n
CONFIG_NETFILTER_XT_MATCH_U32=n
CONFIG_NF_CONNTRACK_IPV4=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_IP_NF_MATCH_AH=n
CONFIG_IP_NF_MATCH_ECN=n
CONFIG_IP_NF_MATCH_RPFILTER=n
CONFIG_IP_NF_MATCH_TTL=n
CONFIG_IP_NF_FILTER=n
CONFIG_IP_NF_TARGET_REJECT=n
CONFIG_NF_NAT=n
CONFIG_IP_NF_TARGET_MASQUERADE=n
CONFIG_IP_NF_TARGET_NETMAP=n
CONFIG_IP_NF_TARGET_REDIRECT=n
CONFIG_IP_NF_MANGLE=n
CONFIG_IP_NF_RAW=n
CONFIG_IP_NF_SECURITY=n
CONFIG_IP_NF_ARPTABLES=n
CONFIG_IP_NF_ARPFILTER=n
CONFIG_IP_NF_ARP_MANGLE=n
CONFIG_NF_CONNTRACK_IPV6=n
CONFIG_IP6_NF_IPTABLES=n
CONFIG_IP6_NF_MATCH_RPFILTER=n
CONFIG_IP6_NF_FILTER=n
CONFIG_IP6_NF_TARGET_REJECT=n
CONFIG_IP6_NF_MANGLE=n
CONFIG_IP6_NF_RAW=n
CONFIG_BRIDGE_NF_EBTABLES=n
CONFIG_BRIDGE_EBT_BROUTE=n
CONFIG_BRIDGE=n
CONFIG_NET_SCHED=n
CONFIG_NET_SCH_HTB=n
CONFIG_NET_SCH_INGRESS=n
CONFIG_NET_CLS_FW=n
CONFIG_NET_CLS_U32=n
CONFIG_CLS_U32_MARK=n
CONFIG_NET_CLS_FLOW=n
CONFIG_NET_EMATCH=n
CONFIG_NET_EMATCH_U32=n
CONFIG_NET_CLS_ACT=n
CONFIG_NET_ACT_POLICE=n
CONFIG_NET_ACT_GACT=n
CONFIG_NET_ACT_MIRRED=n
CONFIG_BT=n
CONFIG_BT_HIDP=n
CONFIG_BT_HCIUART=n
CONFIG_BT_HCIUART_H4=n
CONFIG_CFG80211=n
CONFIG_WIRELESS_EXT_SYSFS=n
CONFIG_CFG80211_ALLOW_RECONNECT=n
CONFIG_RFKILL=n
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-eur.bin"
CONFIG_GENLOCK=n
CONFIG_GENLOCK_MISCDEVICE=n
CONFIG_SYNC=n
CONFIG_SW_SYNC=n
CONFIG_BLK_DEV_LOOP=n
CONFIG_BLK_DEV_RAM=n
CONFIG_BLUEDROID_PM=n
CONFIG_SAMSUNG_JACK=n
CONFIG_UID_STAT=n
CONFIG_QSEECOM=n
CONFIG_SEC_MISC=n
CONFIG_USB_HSIC_SMSC_HUB=n
CONFIG_BCM2079X_NFC_I2C=n
# CONFIG_TIMA_LOG is not set
CONFIG_UID_CPUTIME=n
CONFIG_SCSI=n
CONFIG_SCSI_TGT=n
CONFIG_BLK_DEV_SD=n
CONFIG_CHR_DEV_SG=n
CONFIG_CHR_DEV_SCH=n
CONFIG_SCSI_MULTI_LUN=n
CONFIG_SCSI_CONSTANTS=n
CONFIG_SCSI_LOGGING=n
CONFIG_SCSI_SCAN_ASYNC=n
CONFIG_MD=n
CONFIG_BLK_DEV_DM=n
CONFIG_DM_CRYPT=n
CONFIG_NETDEVICES=n
CONFIG_TUN=n
# CONFIG_ETHERNET is not set
CONFIG_PHYLIB=n
CONFIG_PPP=n
CONFIG_PPP_BSDCOMP=n
CONFIG_PPP_DEFLATE=n
CONFIG_PPP_MPPE=n
CONFIG_PPPOLAC=n
CONFIG_PPPOPNS=n
CONFIG_USB_USBNET=n
# CONFIG_USB_NET_AX8817X is not set
# CONFIG_USB_NET_NET1080 is not set
# CONFIG_USB_BELKIN is not set
CONFIG_MSM_RMNET_USB=n
CONFIG_BCM4335=n
CONFIG_BCMDHD_FW_PATH="/system/etc/wifi/bcmdhd_sta.bin"
CONFIG_BCMDHD_NVRAM_PATH="/system/etc/wifi/nvram_net.txt"
CONFIG_BROADCOM_WIFI_RESERVED_MEM=n
CONFIG_WLAN_REGION_CODE=400
CONFIG_INPUT_EVDEV=n
CONFIG_KEYBOARD_GPIO=n
CONFIG_KEYBOARD_MATRIX=n
CONFIG_SENSORS_HALL=n
CONFIG_KEYBOARD_CYPRESS_TOUCH_236=n
CONFIG_GLOVE_TOUCH=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_TOUCHSCREEN_ATMEL_MXTS=n
CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI=n
CONFIG_INPUT_MISC=n
CONFIG_INPUT_PMIC8XXX_PWRKEY=n
CONFIG_INPUT_MPU3050=n
CONFIG_INPUT_KEYCHORD=n
CONFIG_INPUT_UINPUT=n
CONFIG_INPUT_GPIO=n
CONFIG_STM_LIS3DH=n
# CONFIG_LEGACY_PTYS is not set
CONFIG_N_SMUX=n
CONFIG_N_SMUX_LOOPBACK=n
CONFIG_SMUX_CTL=n
# CONFIG_DEVMEM is not set
# CONFIG_DEVKMEM is not set
CONFIG_SERIAL_MSM=n
CONFIG_SERIAL_MSM_HS=n
CONFIG_SERIAL_MSM_HSL=n
CONFIG_SERIAL_MSM_HSL_CONSOLE=n
CONFIG_HW_RANDOM_MSM=n
CONFIG_I2C=n
CONFIG_I2C_CHARDEV=n
CONFIG_I2C_GPIO=n
# CONFIG_I2C_MSM is not set
CONFIG_I2C_QUP=n
CONFIG_SPI=n
CONFIG_SPI_QUP=n
CONFIG_SPI_SPIDEV=n
CONFIG_SLIMBUS_MSM_CTRL=n
CONFIG_GPIO_SYSFS=n
CONFIG_GPIO_SX150X=n
CONFIG_SEC_GPIO_DVS=n
# CONFIG_BATTERY_MSM is not set
CONFIG_PM8921_CHARGER=n
CONFIG_BATTERY_BCL=n
CONFIG_SENSORS_PM8XXX_ADC=n
CONFIG_SENSORS_EPM_ADC=n
CONFIG_THERMAL=n
CONFIG_THERMAL_TSENS8960=n
CONFIG_THERMAL_PM8XXX=n
CONFIG_THERMAL_MONITOR=n
CONFIG_MFD_MAX77693=n
CONFIG_MFD_PM8921_CORE=n
CONFIG_MFD_PM8821_CORE=n
CONFIG_MFD_PM8038_CORE=n
CONFIG_MFD_PM8XXX_SPK=n
CONFIG_MFD_PM8XXX_BATT_ALARM=n
CONFIG_WCD9304_CODEC=n
CONFIG_WCD9310_CODEC=n
CONFIG_REGULATOR_MAX77693=n
CONFIG_REGULATOR_PM8XXX=n
CONFIG_REGULATOR_MSM_GPIO=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_VIDEO_DEV=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_USER_RC_INPUT=n
CONFIG_IR_GPIO_CIR=n
# CONFIG_MEDIA_TUNER_CUSTOMISE is not set
CONFIG_VIDEOBUF2_MSM_MEM=n
CONFIG_VIDEO_HELPER_CHIPS_AUTO=n
CONFIG_USB_VIDEO_CLASS=n
CONFIG_V4L_PLATFORM_DRIVERS=n
CONFIG_MSM_CAMERA_V4L2=n
CONFIG_MSM_CAMERA_SENSOR=n
CONFIG_MSM_ACTUATOR=n
CONFIG_MSM_EEPROM=n
CONFIG_MSM_GEMINI=n
CONFIG_MSM_MERCURY=n
CONFIG_MSM_CSI20_HEADER=n
CONFIG_JC=n
CONFIG_MSM_WFD=n
# CONFIG_RADIO_ADAPTERS is not set
CONFIG_ION=n
CONFIG_ION_MSM=n
CONFIG_MSM_KGSL=n
CONFIG_KGSL_PER_PROCESS_PAGE_TABLE=n
CONFIG_MSM_KGSL_PAGE_TABLE_COUNT=24
CONFIG_FB=n
CONFIG_FB_VIRTUAL=n
CONFIG_VIDEO_MHL_V2=n
CONFIG_SAMSUNG_MHL_8240=n
CONFIG_FB_MSM=n
# CONFIG_FB_MSM_BACKLIGHT is not set
CONFIG_FB_MSM_TRIPLE_BUFFER=n
CONFIG_USE_VFB=n
CONFIG_FB_MSM_MDP40=n
CONFIG_FB_MSM_OVERLAY=n
CONFIG_FB_MSM_NO_MDP_PIPE_CTRL=n
CONFIG_FB_MSM_OVERLAY0_WRITEBACK=n
CONFIG_FB_MSM_OVERLAY1_WRITEBACK=n
CONFIG_FB_MSM_WRITEBACK_MSM_PANEL=n
CONFIG_FB_MSM_MIPI_SAMSUNG_OCTA_VIDEO_FULL_HD_PT_PANEL=n
CONFIG_FB_MSM_HDMI_MSM_PANEL=n
CONFIG_FB_MSM_CAMERA_CSC=n
CONFIG_MIPI_DSI_RESET_LP11=n
CONFIG_MDNIE_LITE_TUNING=n
CONFIG_HBM_PSRE=n
CONFIG_SUPPORT_SECOND_POWER=n
CONFIG_LCD_VDD3_BY_PMGPIO=n
CONFIG_BACKLIGHT_LCD_SUPPORT=n
CONFIG_SOUND=n
CONFIG_SND=n
CONFIG_SND_DYNAMIC_MINORS=n
CONFIG_SND_USB_AUDIO=n
CONFIG_SND_SOC=n
CONFIG_SND_SOC_MSM8960=n
CONFIG_SND_SOC_ES325=n
CONFIG_SND_SOC_ES325_SLIM=n
CONFIG_HIDRAW=n
CONFIG_UHID=n
CONFIG_HID_A4TECH=n
CONFIG_HID_ACRUX=n
CONFIG_HID_APPLE=n
CONFIG_HID_BELKIN=n
CONFIG_HID_CHERRY=n
CONFIG_HID_CHICONY=n
CONFIG_HID_PRODIKEYS=n
CONFIG_HID_CYPRESS=n
CONFIG_HID_DRAGONRISE=n
CONFIG_HID_EMS_FF=n
CONFIG_HID_ELECOM=n
CONFIG_HID_EZKEY=n
CONFIG_HID_KEYTOUCH=n
CONFIG_HID_KYE=n
CONFIG_HID_UCLOGIC=n
CONFIG_HID_WALTOP=n
CONFIG_HID_GYRATION=n
CONFIG_HID_TWINHAN=n
CONFIG_HID_KENSINGTON=n
CONFIG_HID_LCPOWER=n
CONFIG_HID_LOGITECH=n
CONFIG_HID_MAGICMOUSE=n
CONFIG_HID_MICROSOFT=n
CONFIG_HID_MONTEREY=n
CONFIG_HID_MULTITOUCH=n
CONFIG_HID_NTRIG=n
CONFIG_HID_ORTEK=n
CONFIG_HID_PANTHERLORD=n
CONFIG_HID_PETALYNX=n
CONFIG_HID_PICOLCD=n
CONFIG_HID_ROCCAT=n
CONFIG_HID_SAMSUNG=n
CONFIG_HID_SONY=n
CONFIG_HID_SUNPLUS=n
CONFIG_HID_GREENASIA=n
CONFIG_HID_SMARTJOYPLUS=n
CONFIG_HID_SYNAPTICS_BT=n
CONFIG_HID_TOPSEED=n
CONFIG_HID_THRUSTMASTER=n
CONFIG_HID_WACOM=n
CONFIG_HID_WACOM_POWER_SUPPLY=n
CONFIG_HID_WIIMOTE=n
CONFIG_HID_ZEROPLUS=n
CONFIG_HID_ZYDACRON=n
CONFIG_USB=n
CONFIG_USB_ANNOUNCE_NEW_DEVICES=n
CONFIG_USB_SUSPEND=n
CONFIG_USB_EHCI_HCD=n
CONFIG_USB_EHCI_EHSET=n
CONFIG_USB_EHCI_MSM=n
CONFIG_USB_EHCI_MSM_HSIC=n
CONFIG_USB_EHCI_MSM_HOST4=n
CONFIG_USB_ACM=n
CONFIG_USB_STORAGE=n
CONFIG_USB_STORAGE_SDDR09=n
CONFIG_USB_STORAGE_SDDR55=n
CONFIG_USB_STORAGE_JUMPSHOT=n
CONFIG_USB_STORAGE_CYPRESS_ATACB=n
CONFIG_USB_STORAGE_DETECT=n
CONFIG_USB_SERIAL=n
CONFIG_USB_SERIAL_PL2303=n
CONFIG_USB_SERIAL_CSVT=n
CONFIG_USB_QCOM_DIAG_BRIDGE=n
CONFIG_USB_QCOM_MDM_BRIDGE=n
CONFIG_USB_QCOM_KS_BRIDGE=n
CONFIG_USB_GADGET=n
CONFIG_USB_GADGET_DEBUG_FILES=n
CONFIG_USB_CI13XXX_MSM=n
CONFIG_USB_G_ANDROID=n
CONFIG_USB_ANDROID_SAMSUNG_COMPOSITE=n
CONFIG_USB_DUN_SUPPORT=n
CONFIG_USB_ANDROID_RMNET_CTRL_SMD=n
CONFIG_USB_HOST_NOTIFY=n
CONFIG_MMC=n
CONFIG_MMC_PERF_PROFILING=n
CONFIG_MMC_UNSAFE_RESUME=n
CONFIG_MMC_CLKGATE=n
CONFIG_MMC_PARANOID_SD_INIT=n
CONFIG_MMC_BLOCK_MINORS=32
# CONFIG_MMC_BLOCK_BOUNCE is not set
CONFIG_MMC_TEST=n
CONFIG_MMC_SUPPORT_BKOPS_MODE=n
CONFIG_MMC_BKOPS_NODE_UID=1000
CONFIG_MMC_BKOPS_NODE_GID=1001
CONFIG_MMC_MSM=n
CONFIG_MMC_MSM_SDC1_8_BIT_SUPPORT=n
CONFIG_MMC_MSM_SDC3_SUPPORT=n
CONFIG_MMC_MSM_SDC3_WP_SUPPORT=n
CONFIG_MMC_MSM_SDC4_SUPPORT=n
CONFIG_MMC_MSM_SPS_SUPPORT=n
CONFIG_LEDS_MAX77693=n
CONFIG_LEDS_TRIGGERS=n
CONFIG_LEDS_TRIGGER_HEARTBEAT=n
CONFIG_LEDS_AN30259A=n
CONFIG_SWITCH=n
CONFIG_RTC_CLASS=n
# CONFIG_RTC_DRV_MSM is not set
CONFIG_RTC_DRV_PM8XXX=n
CONFIG_STAGING=n
CONFIG_ANDROID=n
CONFIG_ANDROID_BINDER_IPC=n
# CONFIG_ANDROID_BINDER_IPC_32BIT is not set
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder"
CONFIG_ANDROID_RAM_CONSOLE=n
CONFIG_ANDROID_TIMED_GPIO=n
CONFIG_ANDROID_LOW_MEMORY_KILLER=n
CONFIG_ANDROID_INTF_ALARM_DEV=n
CONFIG_MSM_SSBI=n
CONFIG_SPS=n
CONFIG_SPS_SUPPORT_BAMDMA=n
CONFIG_MSM_AVTIMER=n
CONFIG_MSM_IOMMU=n
CONFIG_MOBICORE_SUPPORT=n
CONFIG_MOBICORE_API=n
CONFIG_BATTERY_SAMSUNG=n
CONFIG_FUELGAUGE_MAX17048=n
CONFIG_CHARGER_MAX77693=n
CONFIG_CHARGER_MAX77803=n
CONFIG_SAMSUNG_LPM_MODE=n
CONFIG_SENSORS_SYSFS=n
CONFIG_SENSORS_SSP=n
CONFIG_SENSORS_SSP_YAS532=n
CONFIG_SENSORS_SSP_SENSORHUB=n
CONFIG_SENSORS_SSP_FACTORY=n
CONFIG_SENSORS_SSP_CM3320=n
CONFIG_SENSORS_SSP_MAX88920=n
CONFIG_SENSORS_SSP_MPU6500=n
CONFIG_SENSORS_SSP_BMP182=n
CONFIG_SENSORS_SSP_ATUC128L5HAR=n
CONFIG_SENSORS_SSP_SHTC1=n
CONFIG_VIBETONZ=n
CONFIG_MOTOR_DRV_MAX77693=n
CONFIG_SEC_FPGA=n
CONFIG_IR_REMOCON_FPGA=n
CONFIG_EXT4_FS=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_F2FS_FS=n
CONFIG_F2FS_FS_SECURITY=n

# CONFIG_MSDOS_FS is not set
# CONFIG_FAT_FS=is not set
# CONFIG_VFAT_FS is not set
# CONFIG_EXFAT_FS is not set
# CONFIG_NTFS_FS is not set

CONFIG_SDFAT_FS=n
CONFIG_SDFAT_USE_FOR_EXFAT=n
CONFIG_SDFAT_USE_FOR_VFAT=n
CONFIG_SDFAT_DELAYED_META_DIRTY=n
CONFIG_SDFAT_SUPPORT_DIR_SYNC=n
CONFIG_SDFAT_DEFAULT_CODEPAGE=437
CONFIG_SDFAT_DEFAULT_IOCHARSET="utf8"
CONFIG_SDFAT_CHECK_RO_ATTR=n
CONFIG_SDFAT_ALIGNED_MPAGE_WRITE=n
CONFIG_SDFAT_VIRTUAL_XATTR=n
CONFIG_SDFAT_VIRTUAL_XATTR_SELINUX_LABEL="u:object_r:sdcard_external:s0"
CONFIG_SDFAT_SUPPORT_STLOG=n
# CONFIG_SDFAT_DEBUG is not set
CONFIG_SDFAT_STATISTICS=n

CONFIG_FUSE_FS=n
CONFIG_TMPFS=n
CONFIG_CONFIGFS_FS=n
CONFIG_SDCARD_FS=n
CONFIG_CIFS=n
CONFIG_NLS_CODEPAGE_437=n
CONFIG_NLS_ASCII=n
CONFIG_NLS_ISO8859_1=n
CONFIG_NLS_UTF8=n
CONFIG_PRINTK_TIME=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_FTRACE=n
CONFIG_SCHED_TRACER=n
# CONFIG_SEC_DEBUG_USER is not set
CONFIG_PID_IN_CONTEXTIDR=n
CONFIG_SECURITY_PERF_EVENTS_RESTRICT=n
CONFIG_SECURITY=n
CONFIG_SECURITY_NETWORK=n
CONFIG_LSM_MMAP_MIN_ADDR=4096
CONFIG_SECURITY_SELINUX=n
CONFIG_CRYPTO_SHA1_ARM_NEON=n
CONFIG_CRYPTO_SHA512_ARM_NEON=n
CONFIG_CRYPTO_AES_ARM_BS=n
CONFIG_CRYPTO_TWOFISH=n
CONFIG_CRYPTO_LZO=n
CONFIG_CRC_CCITT=n
CONFIG_LIBCRC32C=n

#Custom edits

# CONFIG_HOTPLUG_CPU is not set
CONFIG_HOTPLUG=n

CONFIG_DECOMPRESS_LZMA=n

CONFIG_MSM_CPUFREQ_LIMITER=n

CONFIG_CPU_VOLTAGE_TABLE=n

CONFIG_AUTOSMP=n

CONFIG_LOW_CPUCLOCKS=n

CONFIG_WQ_POWER_EFFICIENT_DEFAULT=n

CONFIG_BOEFFLA_WL_BLOCKER=n

CONFIG_FORCE_FAST_CHARGE=n

CONFIG_ANDROID_DOZE_HELPER=n

CONFIG_QUICK_WAKEUP=n
